{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/blog/general.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
{% endblock %}

{% block articles_url %}/pages/articles.html{% endblock %}

{% block tags_url %}/pages/tags.html{% endblock %}

{% block about_url %}/pages/articles/About.html{% endblock %}

{% block ext_js %}
    <script type="text/javascript" src="/js/third/jquery.min.js"></script>
    <script type="text/javascript" src="/js/third/bootstrap.min.js"></script>
{% endblock %}