{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ static_root }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_root }}css/blog/general.css">
    <link rel="stylesheet" href="{{ static_root }}css/font-awesome.min.css">
{% endblock %}

{% block articles_url %}{{ static_root }}pages/articles.html{% endblock %}

{% block tags_url %}{{ static_root }}pages/tags.html{% endblock %}

{% block about_url %}{{ static_root }}pages/articles/About.html{% endblock %}

{% block ext_js %}
    <script type="text/javascript" src="{{ static_root }}js/third/jquery.min.js"></script>
    <script type="text/javascript" src="{{ static_root }}js/third/bootstrap.min.js"></script>
{% endblock %}